In [2]:
import json
import pandas as pd
from datetime import datetime
from datetime import time

In [ ]:


# Ruta del archivo JSON
archivo_json = 'Datasets/pollution_forecast.json'

# Abrir el nuevo archivo JSON descargado
with open(archivo_json, 'r') as archivo_json:
    nuevo_data_dict = json.load(archivo_json)

# Convertir a DataFrame de pandas
df = pd.json_normalize(nuevo_data_dict['list'])

# Mostrar el contenido original del nuevo JSON
print("Contenido original del nuevo JSON:")
print(json.dumps(nuevo_data_dict, indent=2))

# Guardar el DataFrame como un archivo CSV
df.to_csv('Datasets/pollution_forecast.csv', index=False)

In [29]:
df_pronostico_contaminacion_aire_NYC= pd.read_csv('Datasets/pollution_forecast.csv')
df_pronostico_contaminacion_aire_NYC

,dt,main.aqi,components.co,components.no,components.no2,components.o3,components.so2,components.pm2_5,components.pm10,components.nh3
0,1702094400,5,1695.63,166.30,89.11,0.00,6.08,96.64,120.46,5.89
1,1702098000,5,1415.25,128.75,82.25,0.00,6.20,76.30,95.33,3.45
2,1702101600,4,1134.87,91.20,74.71,0.00,6.08,59.29,74.07,2.09
3,1702105200,4,1001.36,72.42,68.55,0.00,5.72,51.58,64.31,1.69
4,1702108800,4,961.30,66.16,68.55,0.00,5.54,50.83,63.37,1.85
...,...,...,...,...,...,...,...,...,...,...
88,1702411200,1,397.21,8.49,38.04,31.83,10.85,8.24,11.54,2.41
89,1702414800,2,417.23,3.80,49.35,20.39,10.97,8.74,12.39,2.76
90,1702418400,2,447.27,2.49,59.63,10.10,11.56,10.08,14.14,3.14
91,1702422000,2,480.65,5.59,64.43,4.16,11.92,12.06,16.76,3.64
92,1702425600,2,514.03,8.83,65.12,1.88,11.09,14.48,20.00,4.12

## Fields in API response


* coord Coordinates from the specified location (latitude, longitude)

 list
* dt Date and time, Unix, UTC

main
* main.aqi Air Quality Index. Possible values: 1, 2, 3, 4, 5. Where 1 = Good, 2 = Fair, 3 = Moderate, 4 = Poor, 5 = Very Poor. If you want to recalculate Air Quality indexes according UK, Europe, USA and Mainland China scales please use "Air Pollution Index levels scale" page

components
* components.co Сoncentration of CO (Carbon monoxide), μg/m3
* components.no Сoncentration of NO (Nitrogen monoxide), μg/m3
* components.no2 Сoncentration of NO2 (Nitrogen dioxide), μg/m3
* components.o3 Сoncentration of O3 (Ozone), μg/m3
* components.so2 Сoncentration of SO2 (Sulphur dioxide), μg/m3
* components.pm2_5 Сoncentration of PM2.5 (Fine particles matter), μg/m3
* components.pm10 Сoncentration of PM10 (Coarse particulate matter), μg/m3
* components.nh3 Сoncentration of NH3 (Ammonia), μg/m3*

## ETL

In [30]:
# Convertir toda la columna 'dt' a fechas calendario
df_pronostico_contaminacion_aire_NYC['Fecha_hora'] = pd.to_datetime(df_pronostico_contaminacion_aire_NYC['dt'], unit='s')

# Mostrar el DataFrame después de la conversión
df_pronostico_contaminacion_aire_NYC

,dt,main.aqi,components.co,components.no,components.no2,components.o3,components.so2,components.pm2_5,components.pm10,components.nh3,Fecha_hora
0,1702094400,5,1695.63,166.30,89.11,0.00,6.08,96.64,120.46,5.89,2023-12-09 04:00:00
1,1702098000,5,1415.25,128.75,82.25,0.00,6.20,76.30,95.33,3.45,2023-12-09 05:00:00
2,1702101600,4,1134.87,91.20,74.71,0.00,6.08,59.29,74.07,2.09,2023-12-09 06:00:00
3,1702105200,4,1001.36,72.42,68.55,0.00,5.72,51.58,64.31,1.69,2023-12-09 07:00:00
4,1702108800,4,961.30,66.16,68.55,0.00,5.54,50.83,63.37,1.85,2023-12-09 08:00:00
...,...,...,...,...,...,...,...,...,...,...,...
88,1702411200,1,397.21,8.49,38.04,31.83,10.85,8.24,11.54,2.41,2023-12-12 20:00:00
89,1702414800,2,417.23,3.80,49.35,20.39,10.97,8.74,12.39,2.76,2023-12-12 21:00:00
90,1702418400,2,447.27,2.49,59.63,10.10,11.56,10.08,14.14,3.14,2023-12-12 22:00:00
91,1702422000,2,480.65,5.59,64.43,4.16,11.92,12.06,16.76,3.64,2023-12-12 23:00:00
92,1702425600,2,514.03,8.83,65.12,1.88,11.09,14.48,20.00,4.12,2023-12-13 00:00:00

In [31]:
# Mapeo de códigos a categorías
mapeo_aqi = {
    1: "Good",
    2: "Fair",
    3: "Moderate",
    4: "Poor",
    5: "Very Poor"
}

# Aplicar el mapeo a toda la columna 'main.aqi'
df_pronostico_contaminacion_aire_NYC['main.aqi'] = df_pronostico_contaminacion_aire_NYC['main.aqi'].map(mapeo_aqi)
df_pronostico_contaminacion_aire_NYC

,dt,main.aqi,components.co,components.no,components.no2,components.o3,components.so2,components.pm2_5,components.pm10,components.nh3,Fecha_hora
0,1702094400,Very Poor,1695.63,166.30,89.11,0.00,6.08,96.64,120.46,5.89,2023-12-09 04:00:00
1,1702098000,Very Poor,1415.25,128.75,82.25,0.00,6.20,76.30,95.33,3.45,2023-12-09 05:00:00
2,1702101600,Poor,1134.87,91.20,74.71,0.00,6.08,59.29,74.07,2.09,2023-12-09 06:00:00
3,1702105200,Poor,1001.36,72.42,68.55,0.00,5.72,51.58,64.31,1.69,2023-12-09 07:00:00
4,1702108800,Poor,961.30,66.16,68.55,0.00,5.54,50.83,63.37,1.85,2023-12-09 08:00:00
...,...,...,...,...,...,...,...,...,...,...,...
88,1702411200,Good,397.21,8.49,38.04,31.83,10.85,8.24,11.54,2.41,2023-12-12 20:00:00
89,1702414800,Fair,417.23,3.80,49.35,20.39,10.97,8.74,12.39,2.76,2023-12-12 21:00:00
90,1702418400,Fair,447.27,2.49,59.63,10.10,11.56,10.08,14.14,3.14,2023-12-12 22:00:00
91,1702422000,Fair,480.65,5.59,64.43,4.16,11.92,12.06,16.76,3.64,2023-12-12 23:00:00
92,1702425600,Fair,514.03,8.83,65.12,1.88,11.09,14.48,20.00,4.12,2023-12-13 00:00:00

In [32]:
# Renombrar la nueva columna
df_pronostico_contaminacion_aire_NYC = df_pronostico_contaminacion_aire_NYC.rename(columns={'main.aqi': 'Air_Quality_Index_(aqi)'})

# Mostrar el DataFrame después de la transformación y el cambio de nombre
df_pronostico_contaminacion_aire_NYC

,dt,Air_Quality_Index_(aqi),components.co,components.no,components.no2,components.o3,components.so2,components.pm2_5,components.pm10,components.nh3,Fecha_hora
0,1702094400,Very Poor,1695.63,166.30,89.11,0.00,6.08,96.64,120.46,5.89,2023-12-09 04:00:00
1,1702098000,Very Poor,1415.25,128.75,82.25,0.00,6.20,76.30,95.33,3.45,2023-12-09 05:00:00
2,1702101600,Poor,1134.87,91.20,74.71,0.00,6.08,59.29,74.07,2.09,2023-12-09 06:00:00
3,1702105200,Poor,1001.36,72.42,68.55,0.00,5.72,51.58,64.31,1.69,2023-12-09 07:00:00
4,1702108800,Poor,961.30,66.16,68.55,0.00,5.54,50.83,63.37,1.85,2023-12-09 08:00:00
...,...,...,...,...,...,...,...,...,...,...,...
88,1702411200,Good,397.21,8.49,38.04,31.83,10.85,8.24,11.54,2.41,2023-12-12 20:00:00
89,1702414800,Fair,417.23,3.80,49.35,20.39,10.97,8.74,12.39,2.76,2023-12-12 21:00:00
90,1702418400,Fair,447.27,2.49,59.63,10.10,11.56,10.08,14.14,3.14,2023-12-12 22:00:00
91,1702422000,Fair,480.65,5.59,64.43,4.16,11.92,12.06,16.76,3.64,2023-12-12 23:00:00
92,1702425600,Fair,514.03,8.83,65.12,1.88,11.09,14.48,20.00,4.12,2023-12-13 00:00:00

Hago dos columnas un de dias de la semana y otra de horas

In [33]:
# Convertir la columna 'Fecha_hora' a formato datetime
df_pronostico_contaminacion_aire_NYC['Fecha_hora'] = pd.to_datetime(df_pronostico_contaminacion_aire_NYC['Fecha_hora'])

# Crear la columna 'day_of_week'
df_pronostico_contaminacion_aire_NYC['day_of_week'] = df_pronostico_contaminacion_aire_NYC['Fecha_hora'].dt.day_name()

# Crear la columna 'hour_of_day'
df_pronostico_contaminacion_aire_NYC['hour_of_day'] = df_pronostico_contaminacion_aire_NYC['Fecha_hora'].dt.hour
df_pronostico_contaminacion_aire_NYC

,dt,Air_Quality_Index_(aqi),components.co,components.no,components.no2,components.o3,components.so2,components.pm2_5,components.pm10,components.nh3,Fecha_hora,day_of_week,hour_of_day
0,1702094400,Very Poor,1695.63,166.30,89.11,0.00,6.08,96.64,120.46,5.89,2023-12-09 04:00:00,Saturday,4
1,1702098000,Very Poor,1415.25,128.75,82.25,0.00,6.20,76.30,95.33,3.45,2023-12-09 05:00:00,Saturday,5
2,1702101600,Poor,1134.87,91.20,74.71,0.00,6.08,59.29,74.07,2.09,2023-12-09 06:00:00,Saturday,6
3,1702105200,Poor,1001.36,72.42,68.55,0.00,5.72,51.58,64.31,1.69,2023-12-09 07:00:00,Saturday,7
4,1702108800,Poor,961.30,66.16,68.55,0.00,5.54,50.83,63.37,1.85,2023-12-09 08:00:00,Saturday,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,1702411200,Good,397.21,8.49,38.04,31.83,10.85,8.24,11.54,2.41,2023-12-12 20:00:00,Tuesday,20
89,1702414800,Fair,417.23,3.80,49.35,20.39,10.97,8.74,12.39,2.76,2023-12-12 21:00:00,Tuesday,21
90,1702418400,Fair,447.27,2.49,59.63,10.10,11.56,10.08,14.14,3.14,2023-12-12 22:00:00,Tuesday,22
91,1702422000,Fair,480.65,5.59,64.43,4.16,11.92,12.06,16.76,3.64,2023-12-12 23:00:00,Tuesday,23
92,1702425600,Fair,514.03,8.83,65.12,1.88,11.09,14.48,20.00,4.12,2023-12-13 00:00:00,Wednesday,0

In [36]:
df_pronostico_contaminacion_aire_NYC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   dt                       93 non-null     int64
 1   Air_Quality_Index_(aqi)  93 non-null     object
 2   components.co            93 non-null     float64
 3   components.no            93 non-null     float64
 4   components.no2           93 non-null     float64
 5   components.o3            93 non-null     float64
 6   components.so2           93 non-null     float64
 7   components.pm2_5         93 non-null     float64
 8   components.pm10          93 non-null     float64
 9   components.nh3           93 non-null     float64
 10  Fecha_hora               93 non-null     datetime64[ns]
 11  day_of_week              93 non-null     object
 12  hour_of_day              93 non-null     int32
dtypes: datetime64[ns](1), float64(8), int32(1), int64(1), object(2)
memory usage: 9.2+ KB

crear un nuevo DataFrame (df_pronostico_contaminacion_aire_NYC_reducido) solo con las columnas deseadas (Air_Quality_Index_(aqi), day_of_week, y hour_of_day)

In [48]:
df_pronostico4dias_contaminacion_aire_NYC_reducido = df_pronostico_contaminacion_aire_NYC[['Air_Quality_Index_(aqi)', 'day_of_week', 'hour_of_day']]
df_pronostico4dias_contaminacion_aire_NYC_reducido

   Air_Quality_Index_(aqi) day_of_week  hour_of_day
0                Very Poor    Saturday            4
1                Very Poor    Saturday            5
2                     Poor    Saturday            6
3                     Poor    Saturday            7
4                     Poor    Saturday            8
..                     ...         ...          ...
88                    Good     Tuesday           20
89                    Fair     Tuesday           21
90                    Fair     Tuesday           22
91                    Fair     Tuesday           23
92                    Fair   Wednesday            0

[93 rows x 3 columns]

## Taxis amarillos

In [34]:
demanda_yellow_taxi = pd.read_csv('yellow_taxi_combinacion_zonas_dias_horarios.csv')
demanda_yellow_taxi

,Unnamed: 0,day_of_week,hour_of_day,Partida_Zone,Destino_Zone,count
0,493363,Wednesday,18,Upper East Side South,Upper East Side North,341
1,489449,Wednesday,17,Upper East Side South,Upper East Side North,328
2,405878,Tuesday,14,Upper East Side South,Upper East Side North,324
3,413155,Tuesday,16,Upper East Side South,Upper East Side North,323
4,481940,Wednesday,15,Upper East Side South,Upper East Side North,322
...,...,...,...,...,...,...
514370,355397,Thursday,20,Lenox Hill West,LaGuardia Airport,1
514371,167944,Saturday,7,Midtown South,Little Italy/NoLiTa,1
514372,167943,Saturday,7,Midtown South,Lenox Hill West,1
514373,167942,Saturday,7,Midtown South,Lenox Hill East,1
514374,136224,Monday,20,Charleston/Tottenville,Charleston/Tottenville,1

Unir dos DataFrames (df_pronostico_contaminacion_aire_NYC y demanda_yellow_taxi) en función de las columnas hour_of_day y day_of_week

In [49]:
# Fusionar los DataFrames en base a 'day_of_week' y 'hour_of_day'
df_demanda_taxi_amarillo_y_pronostico4dias_contaminacion_aire_NYC = pd.merge(demanda_yellow_taxi, df_pronostico4dias_contaminacion_aire_NYC_reducido, on=['day_of_week', 'hour_of_day'], how='right')
df_demanda_taxi_amarillo_y_pronostico4dias_contaminacion_aire_NYC

,Unnamed: 0,day_of_week,hour_of_day,Partida_Zone,Destino_Zone,count,Air_Quality_Index_(aqi)
0,163517,Saturday,4,NV,NV,39,Very Poor
1,162517,Saturday,4,East Village,East Village,33,Very Poor
2,163207,Saturday,4,Lower East Side,Lower East Side,27,Very Poor
3,162316,Saturday,4,Clinton East,Clinton East,22,Very Poor
4,163234,Saturday,4,Lower East Side,TriBeCa/Civic Center,20,Very Poor
...,...,...,...,...,...,...,...
277779,442615,Wednesday,0,Midtown North,Midtown East,1,Fair
277780,442612,Wednesday,0,Midtown North,Maspeth,1,Fair
277781,442611,Wednesday,0,Midtown North,Manhattan Valley,1,Fair
277782,442608,Wednesday,0,Midtown North,Little Italy/NoLiTa,1,Fair
277783,442364,Wednesday,0,Lower East Side,Ridgewood,1,Fair

Ordeno

In [55]:
df_demanda_taxi_amarillo_y_pronostico4dias_contaminacion_aire_NYC = df_demanda_taxi_amarillo_y_pronostico4dias_contaminacion_aire_NYC.sort_values(by='count', ascending=False)
df_demanda_taxi_amarillo_y_pronostico4dias_contaminacion_aire_NYC

,Unnamed: 0,day_of_week,hour_of_day,Partida_Zone,Destino_Zone,count,Air_Quality_Index_(aqi)
236863,405878,Tuesday,14,Upper East Side South,Upper East Side North,324,Moderate
244100,413155,Tuesday,16,Upper East Side South,Upper East Side North,323,Good
247797,416920,Tuesday,17,Upper East Side South,Upper East Side North,320,Good
251587,420758,Tuesday,18,Upper East Side South,Upper East Side North,314,Good
240502,409478,Tuesday,15,Upper East Side South,Upper East Side North,310,Fair
...,...,...,...,...,...,...,...
133289,294512,Sunday,23,Garment District,South Williamsburg,1,Fair
133290,294524,Sunday,23,Garment District,West Farms/Bronx River,1,Fair
133279,294560,Sunday,23,Gramercy,Midtown North,1,Fair
133379,294444,Sunday,23,Flushing Meadows-Corona Park,East Village,1,Fair
277783,442364,Wednesday,0,Lower East Side,Ridgewood,1,Fair

In [61]:
df_demanda_taxi_amarillo_y_pronostico4dias_contaminacion_aire_NYC.to_csv('demanda_taxi_amarillo_pronostrico4dias_contaminacion_aire_NYC.csv')

## Crear una función que determine el mejor momento para viajar considerando la baja demanda de taxis, el rango horario especificado y la calidad del aire óptima

In [7]:
df = pd.read_csv('Datasets\demanda_taxi_amarillo_pronostrico4dias_contaminacion_aire_NYC.csv')

In [8]:
 def sugerir_mejor_momento2(inicio_horario:int, fin_horario:int, zona_partida:str, zona_destino:str):
    """
    La siguiente función retorna una recomendacion de día y horario de viaje para viajar de forma más ecológica, rápida y con menos contaminación atmosférica

    Parametro: 
    # Ejemplo de uso 
                    (rango_horario=(8, 10),
                       zona_partida='Upper East Side South',
                       zona_destino='Upper East Side North'
                       )    
    Retorna:
    
            {'zona_partida': 'Upper East Side South',
            'zona_destino': 'Upper East Side North',
            'dia_semana': 'Monday',
            'hora_dia': 8,
            'calidad_aire': 'Good',
            'demanda_promedio': 112.0}
    """

    # Filtrar por rango horario y zonas de partida y destino
    filtro_rango_horario = df['hour_of_day'].between(inicio_horario, fin_horario)
    filtro_partida = (df['Partida_Zone'] == zona_partida)
    filtro_destino = (df['Destino_Zone'] == zona_destino)

    # Filtrar por categorías específicas de calidad del aire
    categorias_calidad_aire = ['Very Good', 'Good', 'Moderate']
    filtro_calidad_aire = df['Air_Quality_Index_(aqi)'].isin(categorias_calidad_aire)

    viajes_filtrados = df[filtro_rango_horario & filtro_partida & filtro_destino & filtro_calidad_aire]

    # Agrupar por día de la semana, rango horario y categoría de calidad del aire
    resumen = viajes_filtrados.groupby(['day_of_week', 'hour_of_day', 'Air_Quality_Index_(aqi)']).agg({
        'count': 'mean'
    }).reset_index()

    # Encontrar el momento con la demanda más baja y mejor calidad del aire
    mejor_momento = resumen.loc[resumen['count'].idxmin()]

    return {
        'zona_partida': zona_partida,
        'zona_destino': zona_destino,
        'dia_semana': mejor_momento['day_of_week'],
        'hora_dia': mejor_momento['hour_of_day'],
        'calidad_aire': mejor_momento['Air_Quality_Index_(aqi)'],
        'demanda_promedio': mejor_momento['count']
    }

In [10]:
#Ejemplo de uso leyendo desde un archivo CSV
sugerir_mejor_momento2(inicio_horario= 8,
                       fin_horario= 10,
                       zona_partida='Upper East Side South',
                       zona_destino='Upper East Side North'
                       )

{'zona_partida': 'Upper East Side South',
 'zona_destino': 'Upper East Side North',
 'dia_semana': 'Monday',
 'hora_dia': 8,
 'calidad_aire': 'Good',
 'demanda_promedio': 112.0}